{% extends 'booking/base.html' %}

{% block content %}

<div class="card make-booking-card" style="padding:15px">
    <h2 class="card-title">Booking of <span class="room-name">{{ room.name }}</span></h2>
    <form method="post">
        {% csrf_token %}
	    {{ form.as_p }}
	    <div class="button-box">
            <button type="submit" class="btn btn-primary book-b">Book</button>
            <a href="{% url 'room_detail' room.id %}" class="btn btn-secondary back-b">Go Back</a>
        </div>
    </form>

</div>

{% endblock %}