{% extends 'booking/base.html' %}

{% block content %}
<h2>{{ category.name }} :</h2>
<div class="row">
    {% for room in rooms %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{ room.name|upper }}</h5>

                {% if room.capacity >= 5 %}
                    <p><strong>Big room</strong></p>
                {% else %}
                    <p><strong>Small room</strong></p>
                {% endif %}

                <a href="{% url 'room_detail' room.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>There isn't any room.</p>
    {% endfor %}
</div>

{% endblock %}