.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Growable main content area */
.main-content {
    flex: 1;
    padding-top: 120px; /* because of fixed header */
    padding-bottom: 50px;
}

/* General body background */
body {
    background-color: #88e5f7;
}

/* Header */
.my-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 150px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid black;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Home card sample */
.home-card {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_header-title {
    margin-top: 8px;
}

.footer {
    width: 100%;
    background-color: #b5b1ba;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 150px;
    font-family: Arial, sans-serif;
    margin: 0;
}
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.price {
    font-weight: bold;
    margin-top: 20px;
}
.price span {
    color: #21bf33;
}